@font-face {
	font-family: "Poppins";
	src: url("Poppins-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "SourceSansPro";
	src: url("SourceSansPro-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("SourceSansPro-Regular.ttf");
	font-weight: 400;
}